#map {
  width: $(window).width();
  margin: 0 auto;
}

.countries {
  fill: #EEE;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }
.q9-9 { fill:rgb(0,10,67); }

body, html {
    height: 100%;
    width: 100%;
}

body {
    background: #fff;
    font: 18px/1.5 'Verdana', sans-serif;
}

#mainTitle {
    font-family: 'Verdana', sans-serif;
	font-size:38px;
    font-weight: normal;
	color:#BB0F18;
	position:absolute;
	left: 40%;
	top: 38%;
}

#subTitle {
    font-family: 'Verdana', sans-serif;
	font-size: 50px;
    font-weight: bold;
	color:#938671;
	position:absolute;
	left: 40%;
	top: 44%;
}


#coverPage {
	height:100%;
	width:100%;
}

#introPage {
	height:120%;
	width:100%;
	background:#ED1350;
}

#mainLogo {
	position:absolute; left:20%; top:40%;
}

#scrollLogo {
	position:absolute; right:10%; top:90%;
}

#introText1 {
	position:absolute; left:20%; top:135%;
	color:#fff;
	font-size:25px;
}

#introText2 {
	position:absolute; left:20%; top:155%;
	color:#fff;
	font-size:25px;
}

.slider {
	display: inline-block;
	width: 20%;
	margin: 0 2%;
}
