#map {
  width: $(window).width();
  margin:0 auto;

}

.countries {
  fill: #EEE;
}

.q9-9 { fill:rgb(71,144,66); }
.q8-9 { fill:rgb(91,170,70); }
.q7-9 { fill:rgb(137,197,64); }
.q6-9 { fill:rgb(165,186,105); }
.q5-9 { fill:rgb(174,164,134); }
.q4-9 { fill:rgb(180,147,133); }
.q3-9 { fill:rgb(217,66,96); }
.q2-9 { fill:rgb(212,105,62); }
.q1-9 { fill:rgb(211,41,39); }
.q0-9 { fill:rgb(157,28,40); }

body, html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}

body {
    background: #fff;
    font: 18px/1.5 'Verdana', sans-serif;
}


#tooltip {
  font-family: 'Verdana', san-serif;
  color:#000000;
  font-size:15px;
}


.slider, .slider-title {
	display: inline-block;
	width: 20%;
	margin: 0 2%;
	text-align: center;
  font-size:15px;
}
