#map {
  width: $(window).width();
  margin:0 auto;
}

svg {
  background-color: #acc6d9;
}

.countries {
  fill: #EEE;
}

.q0-9 { fill:rgb(178,46,41); }
.q1-9 { fill:rgb(210,47,64); }
.q2-9 { fill:rgb(234,60,71); }
.q3-9 { fill:rgb(233,82,51); }
.q4-9 { fill:rgb(228,130,43); }
.q5-9 { fill:rgb(194,177,47); }
.q6-9 { fill:rgb(138,187,63); }
.q7-9 { fill:rgb(104,166,59); }
.q8-9 { fill:rgb(77,146,57); }
.q9-9 { fill:rgb(72,136,50); }

body, html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}

body {
    background: #fff;
    font: 18px/1.5 'Verdana', sans-serif;
}


#tooltip {
  font-family: 'Verdana', san-serif;
  color:#000000;
  font-size:15px;
}


.slider, .slider-title {
	display: inline-block;
	width: 20%;
	margin: 0 2%;
	text-align: center;
  font-size:15px;
}
